/* 헤더 */
.header-area {
  position: relative;
  width: 1130px;
  height: 160px;
  padding: 0 30px;
  margin: 0 auto;
}

/* 로고 */
.logo {
  position: absolute;
  margin: 0;
  left: 21px;
  top: 50%;
  margin-top: -32px;
}

.logo-link {
  display: block;
}

.logo-link:before {
  width: 222px;
  height: 52px;
  content: "";
  background-position: 0 -158px;
}

/* 검색바 */
.search {
  position: absolute;
  left: 268px;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  border: 2px solid #19ce60;
  width: 582px;
}

.search-input {
  width: 444px;
  height: 24px;
  padding: 14px 15px;
  border: none;
  font-size: 18px;
  list-style: 24px;
  font-weight: bold;
  outline: none;
}

.search-input::placeholder {
  color: transparent;
}

.search-input:-ms-input-placeholder {
  color: transparent;
}

.search-button {
  background-color: #19ce60;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.search-button-icon {
  width: 22px;
  height: 22px;
  background-position: -420px -24px;
  margin-bottom: -3px;
}

.search-keypad {
  position: absolute;
  top: 0;
  right: 84px;
  z-index: 400;
  width: 36px;
  height: 56px;
}

.search-keypad:hover > i {
  background-position: -376px -267px;
}

.search-keypad-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 12px;
  background-position: -398px -267px;
}

.dropdown-button {
  position: absolute;
  top: 0;
  right: 64px;
  width: 22px;
  height: 56px;
  text-align: center;
}

.dropdown-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  margin: -2px 0 0 -5px;
  background-position: -158px -151px;
}

/* 서비스 링크 */
.service-area {
  position: absolute;
  top: 12px;
  right: 27px;
}

.service-area:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

.service-set-home {
  float: left;
  font-size: 11px;
  line-height: 16px;
  color: #404040;
}

.service-set-home:hover {
  text-decoration: underline;
}

.service-set-home:after {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: -382px -213px;
  vertical-align: top;
  content: "";
  margin: -3px 0 0 3px;
}

.service-area > i {
  float: left;
  width: 1px;
  height: 10px;
  background-color: #e4e8eb;
  margin: 3px 7px;
}

.service-jn {
  float: left;
  padding: 3px;
  margin-right: 6px;
}

.service-jn-icon {
  width: 60px;
  height: 10px;
  background-position: -264px -296px;
  vertical-align: top;
}

.service-jn:hover > .service-jn-icon {
  background-position: -326px -296px;
}

.service-hb {
  float: left;
  padding: 3px 3px 2px;
}

.service-hb-icon {
  width: 34px;
  height: 11px;
  background-position: -365px -245px;
  vertical-align: top;
}

.service-hb:hover > .service-hb-icon {
  background-position: -380px -199px;
}

/* 고정 헤더 */
.fixed-header .header-area {
  height: 64px;
}

.fixed-header .service-area {
  display: none;
}

.fixed-header .logo {
  left: 13px;
  z-index: 1;
}

.fixed-header .logo-link:before {
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  vertical-align: top;
  margin: 21px 19px 20px 19px;
}

.fixed-header .search {
  left: 73px;
}

.fixed-header .search:before {
  position: absolute;
  top: 22px;
  bottom: 23px;
  left: -1px;
  content: "";
  width: 1px;
  background-color: #e8ecee;
  height: 20px;
}

.fixed-header .search-bar {
  width: 721px;
  height: 60px;
  margin-top: 3px;
  border: 1px solid transparent !important;
}

.fixed-header .search-input {
  font-size: 21px;
  width: 584px;
  margin: 1px;
  letter-spacing: -0.4px;
  transform: translate(-1px, 1px);
}

.fixed-header .search-input::placeholder {
  color: grey;
  opacity: 0.3;
  font-weight: 400;
}

.fixed-header .search-input:-ms-input-placeholder {
  color: grey;
  opacity: 0.3;
  font-weight: 400;
}

.fixed-header .search-keypad {
  height: 65px;
  transform: translateX(10px);
}

.fixed-header .dropdown-button {
  height: 65px;
  transform: translateX(12px);
}

.fixed-header .search-button {
  background-color: inherit;
  height: 65px;
}

.fixed-header .search-button-icon {
  width: 24px;
  height: 24px;
  transform: translateX(-4px);
  background-position: -327px -342px;
}
