/* 공통 */
.title-inner-box,
.nav-inner {
  width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

/* 타이틀 */
.title-box {
  border-bottom: 1px solid #e4e8eb;
}

.title-inner-box {
  height: 160px;
  position: relative;
}

/* 로고 */
.logo {
  margin: 0;
  float: left;
  width: 415px;
  height: 160px;
}

.logo-link {
}

/* 검색바 */
.search-bar {
  float: left;
}

/* 서비스 링크 */
.service-items {
  position: absolute;
  top: 0;
  right: 0;
}

/* 네비게이션 바 */
.nav {
  box-shadow: 0 1px 3px 0 rgba(0 0 0 / 12%);
}

.nav-inner {
  height: 52px;
}
