.news-area,
.cateogory-area {
  position: relative;
}

/* 뉴스 */
.news-area {
  padding-top: 12px;
}

/* 뉴스 헤더 */
.news-header {
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  padding: 12px 15px 11px 15px;
  margin-bottom: 6px;
}

/* 뉴스 메뉴바 */
.news-menu {
  padding: 16px 0;
}

.news-menu:after {
  content: "";
  display: block;
  clear: both;
}

.news-menu-left {
  float: left;
}

.news-menu-right {
  float: right;
}

.news-item:hover > div {
  display: block;
}

/* 뉴스 링크 목록 */
.news-content {
  position: relative;
  height: 258px;
  border: 1px solid #e4e8eb;
}

.news-items:after {
  content: "";
  display: block;
  clear: both;
}

/* 뉴스 박스 라인 */
.news-content-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-content-line > i {
  position: absolute;
  background-color: #e4e8eb;
}

.vertical-bar-01,
.vertical-bar-02,
.vertical-bar-03,
.vertical-bar-04,
.vertical-bar-05 {
  top: 0;
  width: 1px;
  height: 100%;
}

.vertical-bar-01 {
  left: 124px;
}

.vertical-bar-02 {
  left: 248px;
}

.vertical-bar-03 {
  left: 373px;
}

.vertical-bar-04 {
  left: 497px;
}

.vertical-bar-05 {
  left: 622px;
}

.horizontal-bar-01,
.horizontal-bar-02,
.horizontal-bar-03 {
  top: 0;
  width: 100%;
  height: 1px;
}

.horizontal-bar-01 {
  top: 65px;
}

.horizontal-bar-02 {
  top: 130px;
}

.horizontal-bar-03 {
  top: 195px;
}

/* 뉴스 링크 아이템 */
.news-items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-item {
  position: relative;
  float: left;
  width: 16.66%;
  height: 65px;
  text-align: center;
}

.news-item-link {
  display: block;
  height: 20px;
  padding: 22.5px;
}

.news-item-link > img {
  height: 20px;
}

.news-item-hover-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.news-item-hover-box > button {
  float: left;
  cursor: pointer;
}

/* 카테고리 */
.category-area {
  padding-top: 35px;
  padding-bottom: 27px;
}
