@charset "utf-8";

/* 네이버 폰트 적용 */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 레이아웃 css */
@import url("header.css");
@import url("nav.css");
@import url("section.css");
@import url("aside.css");
@import url("footer.css");

/* 전역 설정 */
body {
  color: #666666;
  font-size: 12px;
  line-height: 20px;
  min-width: 1190px;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  image-rendering: -webkit-optimize-contrast;
}

/* 레이아웃 설정 */
.header {
  position: relative;
  border-bottom: 1px solid #e4e8eb;
}

.nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.main {
  margin: 0 auto;
  padding: 20px 30px;
  width: 1130px;
}

.main:after {
  content: "";
  display: block;
  clear: both;
}

.section {
  float: left;
  width: 750px;
}

.aside {
  float: right;
  width: 350px;
}

.footer {
  clear: both;
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}

/* 헤더 fixed시 */
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: ani_dropdown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1000;
}

.nav-none {
  display: none;
}

.main-mt {
  margin-top: 213px;
}

/* clip-path를 활용하여 텍스트 숨기기 */
.blind {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 아이콘 사용 설정 */
.logo-link:before,
.search-button-icon,
.search-keypad-icon,
.dropdown-button-icon,
.service-set-home:after,
.service-jn-icon,
.service-hb-icon,
.mail-icon,
.shop-icon-01,
.shop-icon-02,
.tv-icon,
.more-icon,
.temp-icon,
.emotion-icon-01:before,
.emotion-icon-02:before,
.link-issue-news > span:first-of-type:after,
.link-special:before,
.news-link:before,
.news-link:after,
.list-icon,
.selected > .thumb-icon,
.setup-icon,
.prev-button-icon,
.next-button-icon,
.category-header-right > a:before,
.issue-big-item-imgbox > i,
.issue-small-item-imgbox > i,
.video-item-imgbox > i,
.prev-small-button-icon,
.next-small-button-icon,
.chart-header > a:after,
.chart-play > a:first-of-type:before,
.chart-play > a:last-of-type:before,
.status-up > i,
.status-down > i,
.login-button > i,
.login-find-info > i,
.signup-button:before,
.finance-info-03:before,
.finance-prev-icon,
.finance-next-icon,
.vibe-header a:after,
.footer-notice .notice-right:after {
  background-image: url(/img/icon-bg.png);
  background-size: 442px 428px;
  background-repeat: no-repeat;
  display: inline-block;
}

.weather-icon {
  background-image: url(/img/icon-weather-bg.png);
  background-size: 215px 184px;
  background-repeat: no-repeat;
  display: inline-block;
}

.shop-header-left a:before,
.shop-header-left a:after,
.shop-prev-icon,
.shop-next-icon,
.spcial-header-title .title-icon,
.one-plus-icon,
.spcial-img-box:last-of-type:before {
  background-image: url(/img/shop-bg.png);
  background-size: 129px 101px;
  background-repeat: no-repeat;
  display: inline-block;
}
