@charset "utf-8";

/* 네이버 폰트 적용 */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 레이아웃 css */
@import url("header.css");
@import url("nav.css");
@import url("section.css");
@import url("aside.css");
@import url("footer.css");

/* 태그 전역설정 */
body {
  color: #666666;
  font-family: "Nanum Brush Script";
  font-size: 12px;
  line-height: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 레이아웃 설정 */
.header {
  border-bottom: 1px solid #e4e8eb;
}

.nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.main {
  margin: 0 auto;
  padding: 20px 30px;
  width: 1130px;
}

.main:after {
  content: "";
  display: block;
  clear: both;
}

.section {
  float: left;
  width: 750px;
}

.aside {
  float: right;
  width: 350px;
}

.footer {
  clear: both;
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}

/* clip-path를 활용하여 텍스트 숨기기 */
.blind {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 아이콘 사용 설정 */
.logo-link:before,
.search-button-icon,
.search-keypad-icon,
.dropdown-button-icon,
.service-set-home:after {
  background-image: url(/img/icon-bg.png);
  background-size: 457px;
  background-repeat: no-repeat;
  display: inline-block;
}
