.news-content {
  position: relative;
  border: 1px solid #dae1e6;
  border-width: 1px 0px;
}

.news-content-innerbox {
  height: 260px;
  border: 1px solid #dae1e6;
  border-width: 0 1px;
  overflow: hidden;
}

.news-content-innerbox:after {
  content: "";
  display: block;
  clear: both;
}

.news-items {
  float: left;
  width: 100%;
}

.news-items-2,
.news-items-3,
.news-items-4 {
  display: none;
}

.news-items:after {
  content: "";
  display: block;
  clear: both;
}

/* 뉴스 박스 라인 */
.news-content-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-content-line > i {
  position: absolute;
  background-color: #e4e8eb;
  z-index: 1;
}

.vertical-bar-01,
.vertical-bar-02,
.vertical-bar-03,
.vertical-bar-04,
.vertical-bar-05 {
  top: 0;
  width: 1px;
  height: 100%;
}

.vertical-bar-01 {
  left: 124px;
}

.vertical-bar-02 {
  left: 249px;
}

.vertical-bar-03 {
  left: 374px;
}

.vertical-bar-04 {
  left: 499px;
}

.vertical-bar-05 {
  left: 624px;
}

.horizontal-bar-01,
.horizontal-bar-02,
.horizontal-bar-03 {
  top: 0;
  width: 100%;
  height: 1px;
}

.horizontal-bar-01 {
  top: 65px;
}

.horizontal-bar-02 {
  top: 130px;
}

.horizontal-bar-03 {
  top: 195px;
}

/* 뉴스 링크 아이템 */
.news-item {
  position: relative;
  float: left;
  width: 16.66%;
  height: 65px;
  text-align: center;
}

.news-item:hover > div {
  display: block;
}

.news-item-link {
  display: block;
  height: 20px;
  padding: 23px 0 22px;
}

.news-item-link > img {
  height: 20px;
}

.news-item-hover-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  padding: 19px 0 18px;
  background-color: #f7f9fa;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.news-item-hover-button {
  display: inline-block;
  padding: 7px 8px 5px;
  background-color: #fff;
  border: 1px solid #dae1e6;
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  cursor: pointer;
}

.news-item-hover-button:last-of-type {
  margin-left: -1px;
}

.news-item-hover-button:hover {
  position: relative;
  border-color: #bec8d8;
}

/* 이전, 다음 버튼 */
.prev-button,
.next-button {
  position: absolute;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.prev-button {
  display: none;
  top: 110px;
  left: -27px;
  z-index: 100;
}

.prev-button:hover > .prev-button-icon {
  background-position: -46px -296px;
}

.prev-button-icon {
  width: 44px;
  height: 44px;
  background-position: -224px -158px;
  vertical-align: top;
}

.next-button {
  top: 110px;
  right: -13px;
  z-index: 100;
}

.next-button:hover > .next-button-icon {
  background-position: 0 -296px;
}

.next-button-icon {
  width: 44px;
  height: 44px;
  background-position: -92px -296px;
  vertical-align: top;
}
