.news-header {
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  padding: 12px 15px 11px;
}

.news-header:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-left > a {
  float: left;
  line-height: 24px;
}

.news-header-left > a:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-left > a > span:first-of-type {
  position: relative;
  float: left;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #000;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 89px;
  padding-right: 12px;
  margin-right: 7px;
}

.link-issue-news > span:first-of-type:after {
  position: absolute;
  top: 7px;
  right: 0;
  width: 6px;
  height: 10px;
  background-position: -262px -112px;
  vertical-align: top;
  content: "";
}

.link-issue-news > span:last-of-type {
  float: left;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 310px;
}

.news-header-right {
  float: right;
}

.news-header-right:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-right > a {
  float: left;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.link-special:before {
  width: 93px;
  height: 16px;
  background-position: -270px -245px;
  content: "";
  vertical-align: top;
  margin: 6px 0 2px;
}

.link-special:after {
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin: 0 8px;
  vertical-align: 2px;
}

.link-news {
  color: #3565c9;
}

.link-news:after {
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin-left: 8px;
  vertical-align: 2px;
}

.link-enter,
.link-sports,
.link-economy {
  margin: 0 4px 0 7px;
  color: #202020;
}
