/* 카테고리 헤더 */
@import url(./category/category-header.css);

/* 카테고리 메뉴바 */
@import url(./category/category-menu.css);

/* 뜨는 게시물 */
@import url(./category/category-issue.css);

/* 링크 목록 */
@import url(./category/category-link.css);

/* 비디오 게시물 */
@import url(./category/category-vedio.css);

/* 음악 차트 */
@import url(./category/category-chart.css);

/* VIBE */
@import url(./category/category-vibe.css);

.category-area {
  position: relative;
  padding-top: 35px;
  padding-bottom: 27px;
}

.more-wrap {
  position: relative;
  padding-top: 18px;
  margin-bottom: 42px;
  border-bottom: 1px solid #e4e8eb;
}

.more-wrap button {
  position: absolute;
  top: 0;
  left: 334px;
  color: #505050;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.more-wrap .more-wrap-icon {
  display: block;
  width: 42px;
  height: 42px;
  background-position: 0 -342px;
  margin: 0 auto 3px;
}
