/* 카테고리 헤더 */
@import url(./category/category-header.css);

/* 카테고리 메뉴바 */
@import url(./category/category-menu.css);

/* 뜨는 게시물 */
@import url(./category/category-issue.css);

/* 링크 목록 */
@import url(./category/category-link.css);

/* 비디오 게시물 */
@import url(./category/category-vedio.css);

/* 음악 차트 */
@import url(./category/category-chart.css);

.category-area {
  position: relative;
  padding-top: 35px;
  padding-bottom: 27px;
}
