/* 뉴스 */
.news-area {
  position: relative;
  padding-top: 12px;
}

/* 뉴스 헤더 */
.news-header {
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  padding: 12px 15px 11px;
  margin-bottom: 6px;
}

.news-header:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-left > a {
  float: left;
  line-height: 24px;
}

.news-header-left > a:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-left > a > span:first-of-type {
  position: relative;
  float: left;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #000;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 89px;
  padding-right: 12px;
  margin-right: 7px;
}

.link-issue-news > span:first-of-type:after {
  position: absolute;
  top: 7px;
  right: 0;
  width: 6px;
  height: 10px;
  background-position: -262px -112px;
  vertical-align: top;
  content: "";
}

.link-issue-news > span:last-of-type {
  float: left;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 310px;
}

.news-header-right {
  float: right;
}

.news-header-right:after {
  content: "";
  display: block;
  clear: both;
}

.news-header-right > a {
  float: left;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.link-special:before {
  width: 93px;
  height: 16px;
  background-position: -270px -245px;
  content: "";
  vertical-align: top;
  margin: 6px 0 2px;
}

.link-special:after {
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin: 0 8px;
  vertical-align: 2px;
}

.link-news {
  color: #3565c9;
}

.link-news:after {
  background-color: #c8ccd1;
  display: inline-block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin-left: 8px;
  vertical-align: 2px;
}

.link-enter,
.link-sports,
.link-economy {
  margin: 0 4px 0 7px;
  color: #202020;
}

/* 뉴스 메뉴바 */
.news-menu {
  padding: 16px 0;
}

.news-menu:after {
  content: "";
  display: block;
  clear: both;
}

.news-menu-left {
  float: left;
}

.news-menu-right {
  float: right;
}

.news-item:hover > div {
  display: block;
}

/* 뉴스 링크 목록 */
.news-content {
  position: relative;
  height: 260px;
}

.news-items:after {
  content: "";
  display: block;
  clear: both;
}

/* 뉴스 박스 라인 */
.news-content-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-content-line > i {
  position: absolute;
  background-color: #e4e8eb;
  z-index: 1;
}

.vertical-bar-01,
.vertical-bar-02,
.vertical-bar-03,
.vertical-bar-04,
.vertical-bar-05,
.vertical-bar-06,
.vertical-bar-07 {
  top: 0;
  width: 1px;
  height: 100%;
}

.vertical-bar-01 {
  left: 0;
}

.vertical-bar-02 {
  left: 124px;
}

.vertical-bar-03 {
  left: 249px;
}

.vertical-bar-04 {
  left: 374px;
}

.vertical-bar-05 {
  left: 499px;
}

.vertical-bar-06 {
  left: 624px;
}

.vertical-bar-07 {
  right: 0;
}

.horizontal-bar-01,
.horizontal-bar-02,
.horizontal-bar-03,
.horizontal-bar-04,
.horizontal-bar-05 {
  top: 0;
  width: 100%;
  height: 1px;
}

.horizontal-bar-01 {
  top: 0;
}

.horizontal-bar-02 {
  top: 65px;
}

.horizontal-bar-03 {
  top: 130px;
}

.horizontal-bar-04 {
  top: 195px;
}

.horizontal-bar-05 {
  top: 260px;
}

/* 뉴스 링크 아이템 */
.news-items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-item {
  position: relative;
  float: left;
  width: 16.66%;
  height: 65px;
  text-align: center;
}

.news-item-link {
  display: block;
  height: 20px;
  padding: 22.5px;
}

.news-item-link > img {
  height: 20px;
}

.news-item-hover-box {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f7f9fa;
  width: 100%;
  text-align: center;
}

.news-item-hover-box > div {
  display: inline-block;
  padding: 19px 0 11px 0;
}

.news-item-hover-box > div:after {
  content: "";
  display: block;
  clear: both;
}

.news-item-hover-button {
  float: left;
  padding: 7px 8px 5px;
  background-color: #fff;
  border: 1px solid #dae1e6;
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  cursor: pointer;
}

.news-item-hover-button:last-of-type {
  margin-left: -1px;
}

.news-item-hover-button:hover {
  position: relative;
  border-color: #bec8d8;
}
