.issue-area {
  padding: 18px 0;
}

.issue-area:after {
  content: "";
  display: block;
  clear: both;
}

.issue-big-items {
  float: left;
  width: 364px;
}

.issue-big-item-imgbox {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

.issue-big-item-imgbox:hover > img,
.issue-small-item-imgbox:hover > img {
  transform: scale(1.04);
}

.issue-big-item-imgbox > img {
  display: block;
  width: 364px;
}

.issue-big-item-imgbox > i,
.issue-small-item-imgbox > i {
  position: absolute;
  bottom: 9px;
  left: 12px;
  width: 24px;
  height: 28px;
  background-position: -246px -342px;
  vertical-align: top;
  z-index: 1;
}

.play-time-box {
  position: absolute;
  bottom: 8px;
  right: 10px;
  padding: 3px 6px;
  font-size: 12px;
}

.play-time-box > span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background-color: #000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: transparent;
}

.play-time-box > span:last-of-type {
  position: relative;
  z-index: 1;
  line-height: 14px;
  color: #fff;
}

.issue-big-item-textbox {
  padding-right: 18px;
}

.issue-big-item-textbox:hover > .title {
  text-decoration: underline;
}

.issue-big-item-textbox > .name {
  color: #e65da0;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-big-item-textbox > .title {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-big-item-textbox > .content {
  font-size: 13px;
  line-height: 21px;
  margin: 0 0 4px 0;
  display: -webkit-box;
  overflow: hidden;
  max-height: 42px;
  line-height: 21px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.issue-big-item-textbox > .provider {
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-small-items {
  float: right;
  width: 364px;
}

.issue-small-item {
  margin-bottom: 14px;
}

.issue-small-item:last-of-type {
  margin-bottom: 0;
}

.issue-small-item:after {
  content: "";
  display: block;
  clear: both;
}

.issue-small-item-imgbox {
  float: left;
  position: relative;
  margin-right: 18px;
  height: 98px;
  overflow: hidden;
}

.issue-small-item-imgbox > img {
  display: block;
  width: 98px;
}

.issue-small-item-imgbox > i {
  bottom: 3px;
  left: 6px;
}

.issue-small-item-textbox {
  float: left;
  padding-top: 4px;
  padding-right: 30px;
  max-width: 218px;
}

.issue-small-item-textbox:hover > .title {
  text-decoration: underline;
}

.issue-small-item-textbox > .name {
  color: #e65da0;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-small-item-textbox > .title {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: -webkit-box;
  overflow: hidden;
  max-height: 42px;
  line-height: 21px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.issue-small-item-textbox > .provider {
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
