.link-items {
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  padding: 11px 18px;
}

.link-item {
  display: inline-block;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
  margin-right: 28px;
}

.link-item:first-of-type {
  padding-right: 17px;
  margin-right: 16px;
  border-right: 1px solid #e4e8eb;
}

.link-item:last-of-type {
  margin-right: 0;
}

.link-item:hover > a {
  text-decoration: underline;
}

.link-item-theme {
  color: #e65da0;
}
